<div *ngIf="nivel">
	<h3>Detalles de {{nivel.nivel}}</h3>
	<div>
		<label>Nivel: </label>
    	<label class="value">{{ nivel.nivel }}</label>
  	</div>
  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	  <i class="material-icons">backspace</i>
	</button>
</div>
<div>
	<span class="errorMsg">{{message}}</span>
</div>