<h2>{{title}}</h2>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Nivel</th>
      <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
      <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
      <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nivel of niveles">
    	<td class="mdl-data-table__cell--non-numeric">{{nivel.nivel}}</td>
    	<td>
        <button id="bttnEditNivel" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEdit(nivel.$key)">
          <i class="material-icons">edit</i>
        </button>
      </td>
      <td>
        <button id="bttnDeleteNivel" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDelete(nivel)">
          <i class="material-icons">delete</i>
        </button>
      </td>
      <td>
        <button id="bttnViewNivel" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDetail(nivel.$key)">
          <i class="material-icons">info</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<br>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onAdd()">
  <i class="material-icons">add</i>
</button>

<div id="toastDeleteNivel" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>