<div>
	<h3>Nuevo nivel</h3>
	<div>
    	<label>Nivel: </label>
    	<input [(ngModel)]="nivel" required>
  	</div>
  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	  <i class="material-icons">backspace</i>
	</button>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onAdd()">
	  <i class="material-icons">save</i>
	</button>
</div>
<div>
	<span class="errorMsg">{{message}}</span>
</div>