<div>
	<h3>Edición de grado {{grado.grado}}</h3>
	<div>
    	<label>Grado: </label>
    	<input [(ngModel)]="grado.grado" required>
  	</div>
  	<div>
    	<label>Nivel: </label>
    	<select [(ngModel)]="grado.nivel">
    		<option *ngFor="let nivel of niveles" [value]="nivel.$key">
    			{{nivel.nivel}}
    		</option>
    	</select>
  	</div>
  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	  <i class="material-icons">backspace</i>
	</button>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onUpdate(grado.$key)">
	  <i class="material-icons">save</i>
	</button>
</div>
<div>
  <span class="errorMsg">{{message}}</span>
</div>