<div>
	<h3>Detalles de grado {{grado.grado}}</h3>
	<div>
  	<label>Grado: </label>
    <label class="value">{{ grado.grado }}</label>
	</div>
  
	<div>
  	<label>Nivel: </label>
    <label class="value">{{ grado.txtNivel }}</label>
	</div>
	
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
    <i class="material-icons">backspace</i>
  </button>
	
</div>