<div>
	<h3>Nuevo bloque</h3>

    <div>
    <label>Número: </label>
    <input [(ngModel)]="bloque.numero" required>
  </div>
	<div>
		<label>Nombre: </label>
		<input [(ngModel)]="bloque.nombre" required>
	</div>
	<div>
  	<label>Materia: </label>
  	<select [(ngModel)]="bloque.idMateria" required>
  		<option *ngFor="let materia of materias" [value]="materia.$key">
  			{{materia.nombre + " (" + materia.txtGrado + " de " + materia.txtNivel + ")"}}
  		</option>
  	</select>
	</div>
  <div>
    <label>Descripción General:</label>
    <textarea [(ngModel)]="bloque.descripcion" class="dataArea"></textarea>
  </div>
  <div>
    <label>
      Temas:
      <div class="material-icons" mdTooltipPosition="after" mdTooltip="{{messages['infoAddTema']}}">info</div>
    </label>
    <textarea [(ngModel)]="temaTexto" class="dataArea"></textarea>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onExtractTemas()">
      <i class="material-icons">add</i>
    </button>
    <br><br>

    <label>Lista de temas:</label>
    <select [(ngModel)]="temas" multiple style="width: 600px;" size="8">
      <option *ngFor="let miTema of bloque.temas" [value]="miTema">
        {{miTema.tema}}
      </option>
    </select>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditTema()">
        <i class="material-icons">edit</i>
      </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onRemoveTemas()">
      <i class="material-icons">remove</i>
    </button>
  </div>

  <div>
    <label>
      Aprendizajes:
      <div class="material-icons" mdTooltipPosition="after" mdTooltip="{{messages['infoAddAprendizaje']}}">info</div>
    </label>
    <textarea [(ngModel)]="aprendizajeTexto" class="dataArea"></textarea>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onExtractAprendizajes()">
      <i class="material-icons">add</i>
    </button>
    <br><br>

    <label>Lista de aprendizajes:</label>
    <select [(ngModel)]="aprendizajes" multiple style="width: 600px;" size="8">
      <option *ngFor="let miAprendizaje of bloque.aprendizajes" [value]="miAprendizaje">
        {{miAprendizaje.aprendizaje}}
      </option>
    </select>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditAprendizaje()">
        <i class="material-icons">edit</i>
      </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onRemoveAprendizajes()">
      <i class="material-icons">remove</i>
    </button>
  </div>
  
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	  <i class="material-icons">backspace</i>
	</button>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onAdd()">
	  <i class="material-icons">save</i>
	</button>
</div>

<div>
  <span class="errorMsg">{{message}}</span>
</div>
