<div>
  <h3>Editar bloque "{{bloque.nombre}}"</h3>

  <div>
    <label>Número: </label>
    <input [(ngModel)]="bloque.numero" required class="textArea">
  </div>
  <div>
    <label>Nombre: </label>
    <input [(ngModel)]="bloque.nombre" required class="textArea">
  </div>
  <div>
    <label>Materia: </label>
    <select [(ngModel)]="bloque.idMateria" required>
    <option *ngFor="let materia of materias" [value]="materia.$key">
    {{materia.nombre + " (" + materia.txtGrado + " de " + materia.txtNivel + ")"}}
    </option>
    </select>
  </div>
  <div>
    <label>Descripción general: </label>
    <textarea [(ngModel)]="bloque.descripcion" class="dataArea"></textarea>
  </div>

  <md-radio-group [(ngModel)]="modoVisualizacion">
    <md-radio-button value="temas">Ver temas</md-radio-button>
    <md-radio-button value="aprendizajes">Ver aprendizajes</md-radio-button>
    <md-radio-button value="proyectos">Ver proyectos</md-radio-button>
  </md-radio-group>
  <br><br>

  <span *ngIf="modoVisualizacion == 'temas'">
    <div>
      <label>Temas:</label>
      <select [(ngModel)]="temas" multiple style="width: 600px;" size="8" (change)="onSelectTema()">
        <option *ngFor="let miTema of bloque.temas" [value]="miTema">
          {{miTema.tema}}
        </option>
      </select>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditTema()">
        <i class="material-icons">edit</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onAddTema()">
        <i class="material-icons">add</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDeleteTema()">
        <i class="material-icons">remove</i>
      </button>
    </div>

    <span *ngIf="tema">
      <md-tab-group>
        <!-- :::::::::: PREGUNTAS SOLE :::::::::: -->
        <md-tab label="Preguntas SOLE">
          <br>
          <label>
            Preguntas SOLE:
            <div class="material-icons" mdTooltipPosition="after" mdTooltip="">info</div>
          </label>
          <textarea [(ngModel)]="preguntaTexto" class="dataArea"></textarea>

          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onAddPregunta()">
            <i class="material-icons">add</i>
          </button>

          <br><br>
          <label>Lista de preguntas:</label>
          <select [(ngModel)]="preguntas" multiple style="width: 600px;">
          <option *ngFor="let miPregunta of tema.preguntas" [value]="miPregunta">
               {{miPregunta.pregunta}}
          </option>
          </select>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditPregunta()">
            <i class="material-icons">edit</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDeletePregunta()">
            <i class="material-icons">remove</i>
          </button>
          <br><br>

          <label>Preguntas SOLE por validar:</label>
          <select [(ngModel)]="preguntasPorValidar" multiple style="width: 600px;">
            <option *ngFor="let miPregunta of tema.preguntasPorValidar" [value]="miPregunta">
              {{miPregunta.pregunta}}
            </option>
          </select>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditPreguntaPorValidar()">
            <i class="material-icons">edit</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDeletePreguntaPorValidar()">
            <i class="material-icons">remove</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onValidatePregunta()">
            <i class="material-icons">check_box</i>
          </button>
        </md-tab>
        <!-- :::::::::: CONTENIDOS DIGITALES :::::::::: -->
        <md-tab label="Contenidos digitales">
          <br><br>
          <label>Título:</label>
          <input [(ngModel)]="contenido.titulo" required>
          <br><br>
          <label>URL:</label>
          <input [(ngModel)]="contenido.URL" required>
          <br><br>
          <label>Tipo:</label>
          <select [(ngModel)]="contenido.tipo">
            <option *ngFor="let tipo of tipos" [value]="tipo.nombre">
              {{tipo.nombre}}
            </option>
          </select>
          <br><br>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onAddContenido(bloque.$key)">
            <i class="material-icons">add</i>
          </button>
          <br><br>
          <label>Lista de Contenidos digitales:</label>
          <select [(ngModel)]="contenidos" multiple style="width: 600px;">
          <option *ngFor="let miContenido of tema.contenidos" [value]="miContenido">
            {{miContenido.titulo + "(" + miContenido.URL + ")"}}
          </option>
          </select>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditContenido()">
            <i class="material-icons">edit</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDeleteContenido()">
            <i class="material-icons">remove</i>
          </button>
          <br><br>
          <label>Contenidos digitales por validar:</label>
          <select [(ngModel)]="contenidosPorValidar" multiple style="width: 600px;">
            <option *ngFor="let miContenido of tema.contenidosPorValidar" [value]="miContenido">
              {{miContenido.titulo + "(" + miContenido.URL + ")"}}
            </option>
          </select>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditContenidoPorValidar()">
            <i class="material-icons">edit</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDeleteContenidoPorValidar()">
            <i class="material-icons">remove</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onValidateContenido()">
            <i class="material-icons">check_box</i>
          </button>
        </md-tab>
      </md-tab-group>
    </span>
  </span>
  <!-- :::::::::: APRENDIZAJES :::::::::: -->
  <span *ngIf="modoVisualizacion == 'aprendizajes'">
    <div>
      <label>
        Aprendizajes esperados:
        <div class="material-icons" mdTooltipPosition="after" mdTooltip="">info</div>
      </label>
      <textarea [(ngModel)]="aprendizajeTexto" class="dataArea"></textarea>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onAddAprendizaje()">
        <i class="material-icons">add</i>
      </button>

      <br><br>
      <label>Lista de aprendizajes esperados:</label>
      <select [(ngModel)]="aprendizajes" multiple style="width: 600px;">
        <option *ngFor="let miAprendizaje of bloque.aprendizajes" [value]="miAprendizaje">
          {{miAprendizaje.aprendizaje}}
        </option>
      </select>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditAprendizaje()">
        <i class="material-icons">edit</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDeleteAprendizaje()">
        <i class="material-icons">remove</i>
      </button>

      <br><br>
      <label>Aprendizajes esperados por validar:</label>
      <select [(ngModel)]="aprendizajesPorValidar" multiple style="width: 600px;">
        <option *ngFor="let miAprendizaje of bloque.aprendizajesPorValidar" [value]="miAprendizaje">
          {{miAprendizaje.aprendizaje}}
        </option>
      </select>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditAprendizajePorValidar()">
        <i class="material-icons">edit</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDeleteAprendizajePorValidar()">
        <i class="material-icons">remove</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onValidateAprendizaje()">
        <i class="material-icons">check_box</i>
      </button>
    </div>
  </span>
  <span *ngIf="modoVisualizacion == 'proyectos'">
    <!-- :::::::::: PROYECTOS :::::::::: -->
    <br>
    <label>Título:</label>
    <input [(ngModel)]="proyecto.titulo" required>
    <br><br>
    <div>
       <label>Plantamiento del proyecto y grandes preguntas: </label>
       <textarea [(ngModel)]="proyecto.planteamiento" class="dataArea"></textarea>
    </div>
      <br><br>
    <div>
       <label>Investigación y documentación: </label>
       <textarea [(ngModel)]="proyecto.investigacion" class="dataArea"></textarea>
    </div>
      <br><br>
    <div>
       <label>Planeación: </label>
       <textarea [(ngModel)]="proyecto.planeacion" class="dataArea"></textarea>
    </div>
      <br><br>
    <div>
       <label>Creación: </label>
       <textarea [(ngModel)]="proyecto.creacion" class="dataArea"></textarea>
    </div>
      <br><br>
    <div>
       <label>Presentación: </label>
       <textarea [(ngModel)]="proyecto.presentacion" class="dataArea"></textarea>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onAddProyecto()">
      <i class="material-icons">add</i>
    </button>
    <br><br>
    <label>Proyectos disponibles:</label>
    <select [(ngModel)]="proyectos" multiple style="width: 600px;">
    <option *ngFor="let miProyecto of bloque.proyectos" [value]="miProyecto">
      {{ miProyecto.titulo }}
    </option>
    </select>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditProyecto()">
      <i class="material-icons">edit</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDeleteProyecto()">
      <i class="material-icons">remove</i>
    </button>
    <br><br>
    <label>Proyectos por validar:</label>
    <select [(ngModel)]="proyectosPorValidar" multiple style="width: 600px;">
      <option *ngFor="let miProyecto of bloque.proyectosPorValidar" [value]="miProyecto">
        {{ miProyecto.titulo }}
      </option>
    </select>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEditProyectoPorValidar()">
      <i class="material-icons">edit</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDeleteProyectoPorValidar()">
      <i class="material-icons">remove</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onValidateProyecto()">
      <i class="material-icons">check_box</i>
    </button>
    <br>
  </span>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
    <i class="material-icons">backspace</i>
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onUpdate()">
    <i class="material-icons">save</i>
  </button>
  <br>
</div>

<div>
  <span class="errorMsg">{{message}}</span>
</div>
