<h2>{{title}}</h2>

<span style="padding-right: 30px;">
  <md-input-container floatPlaceholder="never">
    <input mdInput #filter placeholder="Filtrar nombres">
  </md-input-container>
</span>

<span>
  <md-select placeholder="Filtrar materias" [(ngModel)]="materia" class="textArea" (change)="onMateriaChanged()">
    <md-option [value]="">Todas</md-option>
    <md-option *ngFor="let materia of materias" [value]="materia">
      {{materia.nombre + " (" + materia.txtGrado + " de " + materia.txtNivel + ")"}}
    </md-option>
  </md-select>
</span>

<div style="float:right;">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onAdd()">
    <i class="material-icons">add</i>
  </button>
</div>

<br><br>
<md-table #table [dataSource]="dataSource" mdSort>
  <ng-container cdkColumnDef="numero">
    <md-header-cell *cdkHeaderCellDef md-sort-header> Número </md-header-cell>
    <md-cell *cdkCellDef="let bloque"> {{ bloque.numero }} </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="nombre">
    <md-header-cell *cdkHeaderCellDef md-sort-header [ngClass]="'bloqueNameWidth'"> Nombre </md-header-cell>
    <md-cell *cdkCellDef="let bloque" [ngClass]="'bloqueNameWidth'"> {{ bloque.nombre }} </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="txtMateria">
    <md-header-cell *cdkHeaderCellDef md-sort-header [ngClass]="'bloqueMateriaWidth'"> Materia </md-header-cell>
    <md-cell *cdkCellDef="let bloque" [ngClass]="'bloqueMateriaWidth'">
      {{ bloque.txtMateria }}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="txtGrado">
    <md-header-cell *cdkHeaderCellDef md-sort-header> Grado </md-header-cell>
    <md-cell *cdkCellDef="let bloque">
      {{bloque.txtGrado}}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="txtNivel">
    <md-header-cell *cdkHeaderCellDef md-sort-header> Nivel </md-header-cell>
    <md-cell *cdkCellDef="let bloque">
      {{bloque.txtNivel}}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="edit">
    <md-header-cell *cdkHeaderCellDef> </md-header-cell>
    <md-cell *cdkCellDef="let bloque">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEdit(bloque.$key)">
        <i class="material-icons">edit</i>
      </button>
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="delete">
    <md-header-cell *cdkHeaderCellDef> </md-header-cell>
    <md-cell *cdkCellDef="let bloque">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDelete(bloque)">
        <i class="material-icons">delete</i>
      </button>
    </md-cell>
  </ng-container>  

  <ng-container cdkColumnDef="details">
    <md-header-cell *cdkHeaderCellDef> </md-header-cell>
    <md-cell *cdkCellDef="let bloque">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDetails(bloque.$key)">
        <i class="material-icons">info</i>
      </button>
    </md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let boque; columns: displayedColumns;"></md-row>
</md-table>