<div>
  <h3>Detalles de bloque {{bloque.nombre}}</h3>

  <div>
    <label>Número: </label>
    <label class="value">{{bloque.numero}}</label>
  </div>
  <div>
    <label>Nombre: </label>
    <label class="value">{{bloque.nombre}}</label>
  </div>
  <div>
    <label>Materia: </label>
    <label class="value">{{bloque.txtMateria}}</label>
  </div>
  <div>
    <label>Descripción general: </label>
    <pre>{{ bloque.descripcion }}</pre>
  </div>
  <br/>

  <md-radio-group [(ngModel)]="modoVisualizacion">
    <md-radio-button value="temas">Ver temas</md-radio-button>
    <md-radio-button value="aprendizajes">Ver aprendizajes</md-radio-button>
    <md-radio-button value="proyectos">Ver proyectos</md-radio-button>
  </md-radio-group>
  <br><br>

  <span *ngIf="modoVisualizacion == 'temas'">
    <div>
      <label>Lista de temas:</label>
      <select [(ngModel)]="temas" multiple style="width: 600px;" size="8" (change)="onSelectTema()">
        <option *ngFor="let miTema of bloque.temas" [value]="miTema">
          {{miTema.tema}}
        </option>
      </select>
    </div>

    <span *ngIf="tema">
      <md-tab-group>
        <!-- :::::::::: PREGUNTAS SOLE :::::::::: -->
        <md-tab label="Preguntas SOLE">
          <br>
          <label>Lista de preguntas:</label>
          <ul>
          <li *ngFor="let miPregunta of tema.preguntas">
               {{miPregunta.pregunta}}
          </li>
          </ul>

          <br><br>
          <label>Preguntas SOLE por validar:</label>
          <ul>
            <li *ngFor="let miPregunta of tema.preguntasPorValidar">
              {{miPregunta.pregunta}}
            </li>
          </ul>
        </md-tab>
        <!-- :::::::::: CONTENIDOS DIGITALES :::::::::: -->
        <md-tab label="Contenidos digitales">
          <br>
          <label>Lista de Contenidos digitales:</label>
          <ul>
          <li *ngFor="let miRecurso of tema.contenidos">
            <a href="{{miRecurso.URL}}" target="_blank">{{miRecurso.titulo}}</a>
          </li>
          </ul>

          <br><br>
          <label>Contenidos digitales por validar:</label>
          <ul>
            <li *ngFor="let miRecurso of tema.contenidosPorValidar">
              <a href="{{miRecurso.URL}}" target="_blank">{{miRecurso.titulo}}</a>
            </li>
          </ul>
        </md-tab>
      </md-tab-group>
    </span>
  </span>

  <!-- :::::::::: APRENDIZAJES :::::::::: -->
  <span *ngIf="modoVisualizacion == 'aprendizajes'">
    <div>
      <label>
        Aprendizajes esperados:
      </label>
      <ul>
        <li *ngFor="let miAprendizaje of bloque.aprendizajes" [value]="miAprendizaje">
          {{miAprendizaje.aprendizaje}}
        </li>
      </ul>

      <br><br>
      <label>Aprendizajes esperados por validar:</label>
      <ul>
        <li *ngFor="let miAprendizaje of bloque.aprendizajesPorValidar" [value]="miAprendizaje">
          {{miAprendizaje.aprendizaje}}
        </li>
      </ul>
    </div>
  </span>

  <span *ngIf="modoVisualizacion == 'proyectos'">
    <md-tab-group>
      <!-- :::::::::: PROYECTOS :::::::::: -->
        <md-tab label="Proyectos">
          <br>
          <label>Lista de Proyectos:</label>
          <ul>
            <li *ngFor="let miProyecto of bloque.proyectos">
              {{miProyecto.titulo}}
              <ul>
                <li><label>Planteamiento:</label> <pre>{{miProyecto.plantamiento}}</pre></li>
                <li><label>Investigación:</label> <pre>{{miProyecto.investigacion}}</pre></li>
                <li><label>Planeación:</label> <pre>{{miProyecto.planeacion}}</pre></li>
                <li><label>Creación:</label> <pre>{{miProyecto.creacion}}</pre></li>
                <li><label>Presentación:</label> <pre>{{miProyecto.presentacion}}</pre></li>
              </ul>
            </li>
          </ul>

          <br><br>
          <label>Lista de Proyectos por validar:</label>
          <ul>
            <li *ngFor="let miProyecto of bloque.proyectosPorValidar">
              {{miProyecto.titulo}}
              <ul>
                <li><label>Planteamiento:</label> <pre>{{miProyecto.plantamiento}}</pre></li>
                <li><label>Investigación:</label> <pre>{{miProyecto.investigacion}}</pre></li>
                <li><label>Planeación:</label> <pre>{{miProyecto.planeacion}}</pre></li>
                <li><label>Creación:</label> <pre>{{miProyecto.creacion}}</pre></li>
                <li><label>Presentación:</label> <pre>{{miProyecto.presentacion}}</pre></li>
              </ul>
            </li>
          </ul>
        </md-tab>
      </md-tab-group>
  </span>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
    <i class="material-icons">backspace</i>
  </button>
</div>
