<h2 md-dialog-title>{{operacion + " " + titulo}}</h2>
<div md-dialog-content>
	<span *ngIf="titulo == 'Tema'">
		<label>
			Tema: 
			<div class="material-icons" mdTooltipPosition="after" mdTooltip="Separa cada elemento con un salto de línea">info</div>
		</label>
		<textarea [(ngModel)]="tema" class="dataArea"></textarea>
	</span>

	<span *ngIf="titulo == 'Aprendizaje'">
		<label>
			Aprendizaje: 
			<div class="material-icons" mdTooltipPosition="after" mdTooltip="Separa cada elemento con un salto de línea">info</div>
		</label>
		<textarea [(ngModel)]="aprendizaje" class="dataArea"></textarea>
	</span>	

	<span *ngIf="titulo == 'Pregunta'">
		<label>
			Pregunta: 
			<div class="material-icons" mdTooltipPosition="after" mdTooltip="Separa cada elemento con un salto de línea">info</div>
		</label>
		<textarea [(ngModel)]="pregunta" class="dataArea"></textarea>
	</span>

	<span *ngIf="titulo == 'Contenido Digital'">
		<div>
			<label>Título: </label>
			<input [(ngModel)]="tituloContenido">
		</div>
		<div>
			<label>URL: </label>
			<input [(ngModel)]="URL">
		</div>
		<div>
			<label>Tipo: </label>
			<select [(ngModel)]="tipoContenido">
				<option *ngFor="let tipo of tipos">
					{{tipo.nombre}}
				</option>
			</select>
		</div>
	</span>

	<span *ngIf="titulo == 'Proyecto'">
		<div>
			<label>Título: </label>
			<input [(ngModel)]="tituloProyecto">
		</div>
		<div>
			<label>Planteamiento del problema y grandes preguntas: </label>
			<textarea [(ngModel)]="planteamientoProyecto" class="dataArea"></textarea>
		</div>
		<div>
			<label>Investigación y documentación: </label>
			<textarea [(ngModel)]="investigacionProyecto" class="dataArea"></textarea>
		</div>
		<div>
			<label>Planeación: </label>
			<textarea [(ngModel)]="planeacionProyecto" class="dataArea"></textarea>
		</div>
		<div>
			<label>Creación: </label>
			<textarea [(ngModel)]="creacionProyecto" class="dataArea"></textarea>
		</div>
		<div>
			<label>Presentación: </label>
			<textarea [(ngModel)]="presentacionProyecto" class="dataArea"></textarea>
		</div>
	</span>
</div>
<div md-dialog-actions>
	<button md-button md-dialog-close="add">
    	<i class="material-icons">add</i>
	</button>
	<button md-button md-dialog-close="cancel">
    	<i class="material-icons">cancel</i>
	</button>
</div>