<h2>{{title}}</h2>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Usuario</th>
      <th class="mdl-data-table__cell--non-numeric">Apellidos</th>
      <th class="mdl-data-table__cell--non-numeric">Rol</th>
      <th class="mdl-data-table__cell--non-numeric">Fecha de inicio</th>
      <th class="mdl-data-table__cell--non-numeric">Vigencia</th>
      <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
      <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
    	<td class="mdl-data-table__cell--non-numeric">{{usuario.nombre}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{usuario.apellidos}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{usuario.rol}}</td>      
      <td class="mdl-data-table__cell--non-numeric">{{usuario.fechaInicio}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{usuario.vigencia}}</td>
    	<td>
        <button id="bttnEditNivel" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEdit(usuario.$key)">
          <i class="material-icons">edit</i>
        </button>
      </td>
      <td>
        <button id="bttnDeleteNivel" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDelete(usuario)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<br>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onAdd()">
  <i class="material-icons">add</i>
</button>

<div id="toastDeleteNivel" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>