<div *ngIf="usuario">
	<h3>Detalles de {{usuario.usuario}}</h3>
	<div>
		<label>Usuario: </label>
    	<label class="value">{{ usuario.usuario }}</label>
  	</div>
  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	  <i class="material-icons">backspace</i>
	</button>
</div>
<div>
	<span class="errorMsg">{{message}}</span>
</div>