<div>
<h2>Nuevo usuario</h2>

<div>
	<label>Nombre: </label>
	<input [(ngModel)]="nombre" required>
</div>
<div>
	<label>Apellidos: </label>
	<input [(ngModel)]="apellidos" required>
</div>
<div>
	<label>Rol: </label>
	<select [(ngModel)]="rol" required>
		<option *ngFor="let tipo of tiposDeUsuario" [value]="tipo.nombre">
			{{tipo.nombre}}
		</option>
	</select>
<div>
	<label>E-mail: </label>
	<input [(ngModel)]="email" required>
</div>
<div>
	<label>Password: </label>
	<input [(ngModel)]="password" type="password" required>
</div>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	<i class="material-icons">backspace</i>
</button>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onAdd()">
	<i class="material-icons">save</i>
</button>
</div>

<div>
	<span class="errorMsg">{{message}}</span>
</div>