<div *ngIf="usuario">
	<h3>Edición de {{usuario.usuario}}</h3>
	<div>
<div>
	<label>Nombre: </label>
	<input [(ngModel)]="usuario.nombre">
</div>
<div>
	<label>Apellidos: </label>
	<input [(ngModel)]="usuario.apellidos">
</div>
<div>
	<label>Rol: </label>
	<select [(ngModel)]="usuario.rol">
		<option *ngFor="let tipo of tiposDeUsuario" [value]="tipo.nombre">
			{{tipo.nombre}}
		</option>
	</select>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	<i class="material-icons">backspace</i>
</button>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onUpdate(usuario.$key)">
	<i class="material-icons">save</i>
</button>
</div>

<div>
	<span class="errorMsg">{{message}}</span>
</div>