<h3>Administrador de archivos </h3>

<input id="mediaCapture" type="file" (change)="onChange($event)">
<button id="submitImage" title="Add an image" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--amber-400 mdl-color-text--white" (click)="onUpload()">
  <i class="material-icons">image</i>
</button>