<h2>{{title}}</h2>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Clave</th>
      <th class="mdl-data-table__cell--non-numeric">Descripción</th>
      <th class="mdl-data-table__cell--non-numeric">Materia(s)</th>
      <th class="mdl-data-table__cell--non-numeric">Recursos</th>
      <th class="mdl-data-table__cell--non-numeric">Términos</th>
      <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
      <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let interes of intereses">
    	<td class="mdl-data-table__cell--non-numeric">{{interes.clave}}</td>
      	<td class="mdl-data-table__cell--non-numeric">{{interes.descripcion}}</td>
      	<td class="mdl-data-table__cell--non-numeric">{{interes.txtMaterias}}</td>
      	<td class="mdl-data-table__cell--non-numeric">{{interes.txtRecursos}}</td>
      	<td class="mdl-data-table__cell--non-numeric">{{interes.txtTerminos}}</td>
    	
    	<td>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEdit(interes.$key)">
          <i class="material-icons">edit</i>
        </button>
      </td>
      <td>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDelete(interes)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<br>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onAdd()">
  <i class="material-icons">add</i>
</button>

<div id="toastDeleteInteres" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>