<!-- Always shows a header, even in smaller screens. -->
<md-toolbar>
  <cleverKB-menu></cleverKB-menu>
  <img src="assets/logo.png">
  <div class="mdl-layout-spacer"></div>
  <span class="pageTitle">{{title}}</span>
  <div class="mdl-layout-spacer"></div>
  <span class="userName">{{username}}</span>
  <button class="mdl-button mdl-js-button mdl-button--icon" (click)="tryLogout()">
      <i class="material-icons">exit_to_app</i>
  </button>
</md-toolbar>

<md-sidenav-container>
  <hr class="titleBar">
  <div class="generalMargin mat-app-background">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>