<h2>
  {{title}}
</h2>
<div>
	<label>E-mail:</label>
	<input type="email" [(ngModel)]="email">
</div>
<div>
	<label>Password:</label>
	<input type="Password" [(ngModel)]="password">
</div>
<button (click)="tryLogin()">Login</button>
<div>
	<span class="errorMsg">{{message}}</span>
</div>