<button md-button [mdMenuTriggerFor]="menu">
  <i class="material-icons">more_vert</i>  
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item id="menuPrincipal" [routerLink]="['/main']">Principal</button>
  <button md-menu-item id="menuNiveles" [routerLink]="['/niveles']">Niveles</button>
  <button md-menu-item id="menuGrados" [routerLink]="['/grados']">Grados</button>
  <button md-menu-item id="menuMaterias" [routerLink]="['/materias']">Materias</button>
  <button md-menu-item id="menuBloques" [routerLink]="['/bloques']">Bloques</button>
  <button md-menu-item id="menuUsuario" [routerLink]="['/usuarios']">Usuarios</button>
  <button md-menu-item (click)="tryLogout()">Cerrar sesión</button>
</md-menu>

<!--
<button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
  <li class="mdl-menu__item" id="menuPrincipal" hidden><a routerLink="/main">Principal</a></li>
  <li class="mdl-menu__item" id="menuNiveles" hidden><a routerLink="/niveles">Niveles</a></li>
  <li class="mdl-menu__item" id="menuGrados" hidden><a routerLink="/grados">Grados</a></li>
  <li class="mdl-menu__item" id="menuMaterias" hidden><a routerLink="/materias">Materias</a></li>
  <li class="mdl-menu__item" id="menuGrupos" hidden><a routerLink="/grupos">Grupos</a></li>
  <li class="mdl-menu__item" id="menuBloques" hidden><a routerLink="/bloques">Bloques</a></li>
  <li class="mdl-menu__item" id="menuIntereses" hidden><a routerLink="/intereses">Intereses</a></li>
  <li class="mdl-menu__item" id="menuUsuarioNew" hidden><a routerLink="/usuarioNew">Crear usuario</a></li>
  <li class="mdl-menu__item" id="menuArchivos" hidden><a routerLink="/archivo">Archivos</a></li>
  <li class="mdl-menu__item"><a (click)="tryLogout()">Cerrar sesión</a></li>
</ul>
-->