<div>
	<h3>Detalles de materia {{materia.nombre}}</h3>
	
  <div>
		<label>Clave: </label>
		<label class="value">{{ materia.clave }}</label>

	</div>
	
  <div>
		<label>Nombre: </label>
		<label class="value">{{ materia.nombre }}</label>

	</div>
	
  <div>
  	<label>Grado y nivel: </label>
  	<label class="value">{{ materia.txtGrado + " de " + materia.txtNivel }}</label>
  	
	</div>
  	
	<div>
		<label>Idioma: </label>
		<label class="value">{{ materia.idioma }}</label>
	</div>
	<div>
  	<label>Es oficial:</label>
    <input [(ngModel)]="materia.esOficial" type="checkbox" disabled>
	</div>
	<div>
 		<label>Enfoque didáctico: </label>
 		<pre>{{ materia.enfoque }}</pre>
	</div>

  	<div>
   		<label>Lista de Competencias SEP:</label>
      <ul>
      <li *ngFor="let competencia of materia.listaCompeteSEP">
      {{competencia.competencia}}
      </li>
      </ul> 
  	</div>


    <div>
      <label>Lista de Competencias transversales:</label>
      <ul>
      <li *ngFor="let competencia of materia.listaCompeteTrans">
      {{competencia.competencia}}
      </li>
      </ul> 
    </div>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	  <i class="material-icons">backspace</i>
	</button>
	
  
</div>