<h2>{{title}}</h2>

<span style="padding-right: 30px;">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Materia">
    </md-input-container>
</span>
<span>
  <md-select placeholder="Filtrar grados" [(ngModel)]="grado" class="textArea" (change)="onFiltroChanged()">
    <md-option [value]="">Todas</md-option>
    <md-option *ngFor="let grado of grados" [value]="grado">
      {{ grado.grado + " de " + grado.txtNivel}}
    </md-option>
  </md-select>
</span>
<div style="float:right;">
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onAdd()">
  <i class="material-icons">add</i>
</button>
</div>


<br><br>
<md-table #table [dataSource]="dataSource" mdSort>
<!--<md-table #table >-->
  <ng-container cdkColumnDef="clave">
    <md-header-cell *cdkHeaderCellDef md-sort-header>Clave</md-header-cell>
    <md-cell *cdkCellDef="let materia">{{materia.clave}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="nombre">
    <md-header-cell *cdkHeaderCellDef md-sort-header>Nombre</md-header-cell>
    <md-cell *cdkCellDef="let materia">{{materia.nombre}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="txtGrado">
    <md-header-cell *cdkHeaderCellDef md-sort-header>Grado</md-header-cell>
    <md-cell *cdkCellDef="let materia">{{materia.txtGrado}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="txtNivel">
    <md-header-cell *cdkHeaderCellDef md-sort-header>Nivel</md-header-cell>
    <md-cell *cdkCellDef="let materia">{{materia.txtNivel}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="idioma" >
    <md-header-cell *cdkHeaderCellDef>Idioma</md-header-cell>
    <md-cell *cdkCellDef="let materia">{{materia.idioma}}</md-cell>
  </ng-container>
  <ng-container cdkColumnDef="oficial">
    <md-header-cell *cdkHeaderCellDef>Oficial</md-header-cell>
    <md-cell *cdkCellDef="let materia">
      <input type="checkbox" disabled [(ngModel)]="materia.esOficial">
    </md-cell>
  </ng-container>
  <ng-container cdkColumnDef="edit">
    <md-header-cell *cdkHeaderCellDef></md-header-cell>
    <md-cell *cdkCellDef="let materia">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEdit(materia.$key)">
        <i class="material-icons">edit</i>
      </button>
    </md-cell>
  </ng-container>
  <ng-container cdkColumnDef="delete">
    <md-header-cell *cdkHeaderCellDef></md-header-cell>
    <md-cell *cdkCellDef="let materia">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDelete(materia)">
        <i class="material-icons">delete</i>
      </button>
    </md-cell>
  </ng-container>
  <ng-container cdkColumnDef="details">
    <md-header-cell *cdkHeaderCellDef></md-header-cell>
    <md-cell *cdkCellDef="let materia">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDetails(materia.$key)">
        <i class="material-icons">info</i>
      </button>
    </md-cell>
  </ng-container>


    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let materia; columns: displayedColumns;"></md-row>
</md-table>
<div style="padding-bottom:50px;"></div>



<!--
<div id="toastDeleteMateria" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
-->
