<div>
	<h3>Edición de materia {{materia.nombre}}</h3>
	
  <div>
		<label>Clave: </label>
		<input [(ngModel)]="materia.clave" required>
	</div>
	
  <div>
		<label>Nombre: </label>
		<input [(ngModel)]="materia.nombre" required>
	</div>
	
  <div>
  	<label>Grado: </label>
  	<select [(ngModel)]="materia.grado" required>
  		<option *ngFor="let grado of grados" [value]="grado.$key">
  			{{grado.grado + " de " + grado.txtNivel}}
  		</option>
  	</select>
	</div>
  	
	<div>
		<label>Idioma: </label>
		<select [(ngModel)]="materia.idioma">
			<option *ngFor="let idioma of idiomas" [value]="idioma.nombre">
				{{idioma.nombre}}
			</option>
		</select>
	</div>
    <!-- :::::::::: ES OFICIAL :::::::::: -->
  <div>
    <label>Es oficial:</label>
    <input [(ngModel)]="materia.esOficial" type="checkbox">
  </div>
 
  <span *ngIf="materia.esOficial">
  <div>
		<label>Enfoque didáctico: </label>
    <textarea [(ngModel)]="materia.enfoque" rows="5" cols="50"></textarea>
	</div>

    <!-- :::::::::: ES OFICIAL  COMPETENCIAS SEP:::::::::: -->

    <h4>Competencias de la SEP</h4>
      <br>
      <label>Competencia: </label>
      <textarea [(ngModel)]="competeSEPTexto" class="dataArea"></textarea>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onExtractCompeteSEPs(materia.$key)">
        <i class="material-icons">add</i>
      </button>
      <br><br>
      <!-- esta parte es para hacer la lista de competencias SEP -->
      <label>Lista de Competencias SEP:</label>
      <select [(ngModel)]="competesSEP" multiple style="width: 600px;">
        <option *ngFor="let miCompeteSEP of materia.listaCompeteSEP" [value]="miCompeteSEP">
          <!-- esto muestrara lo que se intrudujo en el cuadro de texto en la lista -->
          {{miCompeteSEP.competencia}}
      </option>
      </select> 
      <!-- boton remover -->
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onRemoveCompeteSEP()">
        <i class="material-icons">remove</i>
      </button>
      <!-- aqui termina como hacer lista de competencias SEP -->   

    <!-- :::::::::: FIN ES OFICIAL  COMPETENCIAS SEP:::::::::: -->

    <!-- :::::::::: ES OFICIAL  COMPETENCIAS TRANSVERSALES:::::::::: -->
    <h4>Competencias transversales</h4>
      <br>
      <label>Competencia: </label>
      <textarea [(ngModel)]="competeTranTexto" class="dataArea"></textarea>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onExtractCompeteTrans(materia.$key)">
        <i class="material-icons">add</i>
      </button>
      <br><br>
      <!-- esta parte es para hacer la lista de competencias transversales -->
      <label>Lista de Competencias Tranversales:</label>
      <select [(ngModel)]="competesTrans" multiple style="width: 600px;">
        <option *ngFor="let miCompeteTrans of materia.listaCompeteTrans" [value]="miCompeteTrans">
          <!-- esto muestrara lo que se intrudujo en el cuadro de texto en la lista -->
          {{miCompeteTrans.competencia}}
      </option>
      </select> 
      <!-- boton remover -->
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onRemoveCompeteTrans()">
        <i class="material-icons">remove</i>
      </button>
      <!-- aqui termina como hacer lista de competencias transversales -->   

    <!-- :::::::::: FIN ES OFICIAL  COMPETENCIAS TRANSVERSALES:::::::::: -->
      </span>
       <br>
       <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	     <i class="material-icons">backspace</i>
	     </button>
	     <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onUpdate(materia.$key)">
	     <i class="material-icons">save</i>
	     </button>
       </div>

      <div>
      <span class="errorMsg">{{message}}</span>
      </div>