<div>
	<h3>Edición de grupo {{grupo.nombre}}</h3>

	<div>
		<label>Nombre: </label>
		<input [(ngModel)]="grupo.nombre" required>
	</div>
	<div>
    	<label>Materia: </label>
    	<select [(ngModel)]="grupo.materia" required>
    		<option *ngFor="let materia of materias" [value]="materia.$key">
    			{{materia.nombre + " (" + materia.txtGrado + " de " + materia.txtNivel + ")"}}
    		</option>
    	</select>
  	</div>

  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	  <i class="material-icons">backspace</i>
	</button>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onUpdate(grupo.$key)">
	  <i class="material-icons">save</i>
	</button>
</div>
<div>
  <span class="errorMsg">{{message}}</span>
</div>