<div>
	<h3>Detalles de grupo {{grupo.nombre}}</h3>

	<div>
		<label>Nombre: </label>
		<label>{{ grupo.nombre }}</label>

	</div>
	<div>
    	<label>Materia: </label>
    	<label>{{ grupo.txtMateria }}</label>
  	</div>

  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="goBack()">
	  <i class="material-icons">backspace</i>
 	</button>
</div>