<h2>{{title}}</h2>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Nombre</th>
      <th class="mdl-data-table__cell--non-numeric">Materia</th>
      <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
      <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
      <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grupo of grupos">
      	<td class="mdl-data-table__cell--non-numeric">{{grupo.nombre}}</td>
      	<td class="mdl-data-table__cell--non-numeric">
          {{grupo.txtMateria}}
        </td>
        <td>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onEdit(grupo.$key)">
          <i class="material-icons">edit</i>
        </button>
      </td>
      <td>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDelete(grupo)">
          <i class="material-icons">delete</i>
        </button>
      </td>
      <td>
        <button id="bttnViewNivel" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onDetail(grupo.$key)">
          <i class="material-icons">info</i>
        </button>
      </td>

    </tr>
  </tbody>
</table>

<br>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" (click)="onAdd()">
  <i class="material-icons">add</i>
</button>

<div id="toastDeletegrupo" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>