/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'School Book New';
  src: url('/assets/School Book New.ttf')  format('truetype');
}


/* Class utilized for error messages */
.errorMsg {
  white-space: pre;
  color: red;
}
/* Class utilized for long text inputs */
.textArea {
	width: 600px;
}
/* Class utilized for textareas */
.dataArea {
	width: 600px;
	height: 100px;
}

/* Aligns all the labels to the right */
.detalles {
	text-align: left;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  text-decoration: underline;
  font-weight: bold;
}

label.value {
  display: inline-block;
  width: 1000px;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
}

/* Element utilized to show text with its original format */
pre {
	white-space: pre-wrap;
	word-wrap: normal;
}
/** Class to define the default color for all of the icons */
.material-icons {
	color: #2798d5;
}

.pageTitle {
	font-family: 'School Book New', Times;
	font-size: 36px;
	/*font-weight: bold;*/
	color: #2798d5;
}

.userName {
	font-family: 'Arial', Times; /* 'School Book New', */
	font-size: 20px;
	font-weight: bold;
	color: #2798d5;
}

/* TODO: Identify how to set default-font for material design */
* {
	font-family: 'Arial', Times;
}

h2 {
	font-family: 'Arial', Times;
	border-bottom: 2px solid #b4bf26;
	padding: 5px;
	color: #b4bf26;
}

h3 {
	font-family: 'Arial', Times;
	border-bottom: 2px solid #b4bf26;
	padding: 5px;
	color: #b4bf26;
}

img.mainPage {
	display: block;
	margin: auto;
	width: 100%;
}

hr.titleBar {
 	margin-top: 0;
    margin-bottom: 0;
	border-top: 5px solid #b4bf26;
}

.generalMargin {
	padding: 2em;
}

thead {
	background-color: #b4bf26;
}

.mat-header-row {
  background-color: #b4bf26;
}
button.mat-sort-header-button {
  color: #fff;
}

th {
	font-family: 'Arial', Times;
}

table {
    border: 1px solid #656565;
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #888888;
    width: 300px;
    margin-bottom: 15px;
    border-spacing: 0;
    background-color: lightgray;
}
